<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Statics/css/style.css">
        <link rel="icon" href="../Statics/img/opossum.jpg">
        <title>Tiendita</title>
    </head>
    
    <body>
        
        <!--    Nombre tienda   -->
        <h1 id="Nombre">Tienda Los Tlacuaches</h1>
        
        <!--    Tienda  -->
        <section id="Contenedor">
        
            <!--    Estante de productos    -->
            <div class="Fondo" id="Estanteria">
        
                <!--    Piso 1  -->
                <div class="Estante" id="Estante1">
                    <img src="../Statics/img/cheetos.png" alt="Cheetos" class="Productos">
                    <img src="../Statics/img/chicle.png" alt="Chicle" class="Productos">
                    <img src="../Statics/img/chocolate.png" alt="Chocolate" class="Productos">
                    <p class="Precios">$12.14</p>
                    <p class="Precios">$24.33</p>
                    <p class="Precios">$78.99</p>
                </div>
                
                <!--    Piso 2  -->
                <div class="Estante" id="Estante2">
                    <img src="../Statics/img/frutsi.png" alt="Frutsi" class="Productos">
                    <img src="../Statics/img/globos.png" alt="Globos" class="Productos">
                    <img src="../Statics/img/mazapan.png" alt="Mazapan" class="Productos">
                    <p class="Precios">$12.14</p>
                    <p class="Precios">$24.33</p>
                    <p class="Precios">$78.99</p>
                </div>

                <!--    Piso 3  -->
                <div class="Estante" id="Estante3">
                    <img src="../Statics/img/paleta.png" alt="Paleta" class="Productos">
                    <img src="../Statics/img/pan.png" alt="Pan" class="Productos">
                    <img src="../Statics/img/soda.png" alt="Soda" class="Productos">
                    <p class="Precios">$12.14</p>
                    <p class="Precios">$24.33</p>
                    <p class="Precios">$78.99</p>
                </div>
                
            </div>

        
            <!--    Zona de compra  -->
            <div class="Fondo" id="Compra">
                <p id="Total">Total $0.00 </p>
            </div>
        
        </section>

        <!--    script  -->
        <script src="../Dynamics/funcionalidad.js"></script>

    </body>
</html>