<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Statics/css/style.css">
        <link rel="icon" href="../Statics/img/opossum.jpg">
        <title>Tiendita</title>
    </head>
    
    <body>
        
        <h1 id="Nombre">Tienda ...</h1>
        
        <section id="Contenedor">
        
            <div class="Fondo" id="Estanteria">
        
                <div class="Estante" id="Estante1">
                    <img src="../Statics/img/cheetos.png" alt="cheetos" class="Productos">
                    <img src="../Statics/img/chicle.png" alt="chicle" class="Productos">
                    <img src="../Statics/img/chocolate.png" alt="chocolate" class="Productos">
                </div>
                
                <div class="Estante" id="Estante2">
                    <img src="../Statics/img/frutsi.png" alt="frutsi" class="Productos">
                    <img src="../Statics/img/globos.png" alt="globos" class="Productos">
                    <img src="../Statics/img/mazapan.png" alt="mazapan" class="Productos">
                </div>

                <div class="Estante" id="Estante3">
                    <img src="../Statics/img/paleta.png" alt="paleta" class="Productos">
                    <img src="../Statics/img/pan.png" alt="pan" class="Productos">
                    <img src="../Statics/img/soda.png" alt="soda" class="Productos">
                </div>
                
            </div>
        
            
            <div class="Fondo" id="Compra">
        
            </div>
        
        </section>
    </body>
</html>