#Contenedor
{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
}

#Estante
{
    background-color: aqua;
}

#Compra
{
    background-color: rebeccapurple;
    height: 40%;
}

.Fondo
{
    width: 20%;
    height: 100%;
}