
body
{
    width: 100vw;
    height: 95vh;
    margin: 0;
}


#Nombre
{
    color: rgb(223, 26, 26);
    background-color: #33ff61;
    text-align: center;
}

#Contenedor
{
    width: 100%;
    height: 95%;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

#Estanteria
{
    background-color: aqua;
    width: 50%;
    height: 90%;
}

#Compra
{
    background-color: rebeccapurple;
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.Fondo
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.Productos
{
    width: 33%;
    height: 75%;
}

.Precios
{
    display: inline-block;
    width: 33%;
    height: 13%;
    background-color: #3399ff;
}

.Estante
{
    background-color: #b233ff;
    height: 16%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}